* {
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
  /* margin: 80px;
  padding: 0px;
  margin-left: 250px; */
  

}

main {
display: flex;


}

header {
background-color: hsl(0, 1%, 19%);
padding: 20px 10px 10px 0px;
color: rgb(8, 8, 7);
display: flex;
align-items: center;
justify-content: space-between;

}

.main-header {
  font-size: 30px;
  font-weight:600;
display: flex;
flex-direction: row;
align-items: center;
background-color:rgb(226, 226, 117);
padding: 10px 10px 20px 40px;
outline: inset;
}

.topnav {
display: flex;
flex-direction: row;
margin-right: 50px;
}

.topnav a {
padding: 6px 8px 6px 16px;
text-decoration: underline;
font-size: 25px;
color: rgb(226, 226, 117);
display: flex;
flex-direction: column-reverse;

}

.hero-image {
  height: 100px;
  max-width: 100%;
  position: relative;
  background-image:url("../images/02-hero-bg.jpg");
  background-size: cover;
}


#subtitle {
background-color: rgba(0,0,0,0.8);
color: aliceblue;
font-size: 50px;
position: absolute;
bottom: 0px;
right: 60px;

  
  
}



/* .sections {
margin-right: auto;
display: flex;
flex-direction: row;
margin-left: 220px;
margin-top: 60px; 
display: flex;
flex-direction: row;
width:100%;
margin-top: 20px;
margin-bottom: 20px;
}

.sections h2 {
width: 20%;
}

.sections p, .sections section {
width: 70%;
} */

/* h2 { */
/* font-family: monospace;
margin-right: 30px;
color:black;
font-size: 300%;
display: flex;
text-align: right;
justify-content: end;
border-right: 3px solid #445877;
width: 20%; */

/* } */

h3 {
margin-right: 30px;
font-size: x-large;
display: flex;
text-align: right;
justify-content: flex-start;
}

/* .grid-container { */
/* list-style: none;
display: grid;
grid-template-columns: repeat(2, 1fr);
padding: 10px;
margin-left: 19.3%; */
/* } */

#image-1 {
width: 100%;
background-image: url(/images/Screenshot\ 2023-08-23\ at\ 5.49.46\ PM.png);
background-size: cover;
}

#image-2 {
background-image: url(/images/Screenshot\ 2023-08-16\ 122313.png);
background-size: cover;

}


#image-3 {
background-size: cover;
background-image: url(/images/pngtree-creative-christmas-gift-box-decoration-green-texture-background-image_504643.jpg);
}

#image-4 {
background-size: cover;
background-image: url(/images/weather\ ss.png);
}

#image-5 {
background-size: cover;
background-image: url(/images/cristofferb7.github.io_workday-scheduler_.png);
}

/* .grid-item { */
/* display: grid; */
/* background-color: lightblue;
padding: 20px;
color:black;
text-align: center;
margin: 10px;
filter: brightness(50%);
width: 50%;
height: 200px;
background-size: cover;
background-position: center;
display: flex;
justify-content: flex-start;
align-items: flex-end;
} */

/* .grid-item:nth-of-type(1) {
grid-column: 1 / span 2;
} */

/* .text-on-picture { */
/* position: absolute; */
/* background-color: lightblue;
width: 100px;
height: 75px;
text-align: center;
display: flex;
justify-content: center;
align-items: center; */
/* padding: 30px; */
/* display: flex; */
/* margin-top: 250px; */
/* } */

/* .grid-item:hover {
filter: brightness(100%);

} */

/* article {
display: flex;
flex-direction: row;
justify-content: center;
} */

.footerNav {
margin: 30px ;

}

.footerNav ul{
display: flex;
justify-content: space-evenly;
margin-left: 150%;


}

.footerNav ul li a{
color:black;
margin: 20px; 
text-decoration:underline;
font-size: 1.3em;
transition: 0.5s;

}

p{
font-size: larger;
font-weight: bold;

}



/* CSS FOR PROJECTS */

#projects-section {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#projects-section article a {
  /* width: 80%; */
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#projects-section article a div {
  width: 500px;
  height: 200px;
}

.grid-item {
  filter: brightness(50%);
  margin: 20px;
  display: flex;
  justify-content: center;
}

.grid-item h3 {
  background: rgba(30, 30, 30, 0.5);
  height: 50px;
  padding: 10px;
  border-radius: 5px;
}

.grid-item:hover {
  filter: brightness(100%);
}



#currentPage {
  min-height: 70vh;;
}

body {
background-color: rgba(30, 30, 30, 0.5);
}

footer{
  color: aliceblue !important;
  
}

#contactMe{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
align-items: center;
}

#contactMe div  {
  width: 500px;

}

#bigMessage{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


